body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
*,
*:before,
*:after
{
    box-sizing: border-box;
    overflow: visible;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.blue-theme .header{
    background-color: rgb(203, 225, 246);
}

.pink-theme .header{
    background-color: #f6c9b1;
}
.blue-theme .search{
    background-color: rgb(203, 225, 246, 1);
}

.pink-theme .search{
    background-color: #f6c9b1;
}
.blue-theme .intro{
    background-color: rgb(247, 248, 250);
}

.pink-theme .intro{
    background-color: #fffbfb;
}
.blue-theme .reviews{
    background-color: rgb(247, 248, 250);
}

.pink-theme .reviews{
    background-color: #fffbfb;
}
.blue-theme .footer{
    background-color: rgb(247, 248, 250);
}

.pink-theme .footer{
    background-color: #fffbfb;
}
.blue-theme .comment{
    border: 1px solid rgb(73, 127, 177, 75%);
}

.pink-theme .comment{
    border: 1px solid #F5B3CE;
}
.blue-theme .footer-inner{
    border-top: 1px solid rgb(73, 127, 177, 75%);
}

.pink-theme .footer-inner{
    border-top: 1px solid #F5B3CE;
}

.blue-theme .list-title{
    background-color: rgb(240, 246, 251);
}
.pink-theme .list-title{
    background-color: #faeeee;
}

.blue-theme th{
    background-color: rgb(230, 241, 250);
}
.blue-theme td{
    background-color: rgb(247, 249, 252);
}

.pink-theme th{
    background-color: #f6c9b1;
}
.pink-theme td{
    background-color: #fffbfb;
}

.blue-theme .logout{
    background-color: rgb(203, 225, 246, 1);
}

.pink-theme .logout{
    background-color: #f6c9b1;
}

.blue-theme .wishlist-inner .search{
    background-color: rgb(247, 249, 252);
}

.pink-theme .wishlist-inner .search{
    background-color: #fffbfb;
}

/* ------Container------- */
.container{
    width: 100%;
    max-width: 1980px;
    margin: 0 auto;
    padding: 0 15px;
}

/* -------Header-------- */
.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header-inner{
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.corner-title{
    font-family: 'Lato', sans-serif;
    color: #212121;
    font-weight: 300;
    font-size: 14px;
    padding-left: 20px;
}

/* -------Nav------------- */
.nav{
    display: flex;
    padding-right: 120px;
}

.nav-link .show{
    color: #212121;
    font-family: 'Lato', sans-serif;
    opacity: 0.75;
    text-decoration: none;
    margin:0 20px;
    padding-top: 10px;
    font-weight: 500;
}
.nav-link{
    color: #212121;
    font-family: 'Lato', sans-serif;
    opacity: 0.75;
    text-decoration: none;
    margin:0 20px;
    padding-top: 10px;
    font-weight: 500;
    font-size: 100%;
}

.nav-link:hover{
    opacity: 1;
}
.nav-link.hidden{
    display: none;
}

.logout{
    border:0;
    padding-bottom: 7px;
    cursor: pointer;
}

/*.logout{*/
/*    display: none;*/
/*}*/

/*.logout.show{*/
/*    display: flex;*/
/*}*/

.search{
    border: none;
    padding-top: 8px;
}

.icon-search{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.btn-theme{
    height: 25px;
    padding-top: 0;
    margin-top: 10px;
}

/* -----------Intro---------- */
.intro{
    padding-top: 96px;
}


.intro-inner{
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.intro-title{
    font-family: 'Lato', sans-serif;
    font-size: 400%;
    padding-top: 100px;
    color: rgb(40, 38, 38);
    font-weight: 400;
}

.intro-subtitle{
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    padding-top: 20px;
    color: #212121;
    font-weight: 300;
}

.btn-yellow{
    background-color: rgba(248, 233, 161, 1);
    margin-top: 20px;
    color: rgb(36, 36, 36);
}

.btn{
    display: inline-block; /* to set a width and height on the element.*/
    vertical-align: top;
    border: none;
    border-radius: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 14px 55px;
    cursor: pointer;
}
/* ---------------Reviews----------- */
.reviews{
    margin: 0;
    height:calc(100vh - 467px);
    min-height: 358px;
}

.reviews-inner{
    display: flex;
    justify-content: space-around;
    padding: 100px 0 50px;
}

.comment{
    width: 30%;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 100%;
}

.comment-info{
    padding: 20px 20px 0 20px;
    margin-bottom: 0;

}

.reviewer-name{
    float: right;
    padding-right: 20px;
    font-weight: 400;
}

/* -------------Footer------------ */

.footer-inner{
    display: flex;
    justify-content: space-around;
}

.footer-block{
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding-right: 5vw;
}

.footer-link{
    text-decoration: none;
    color: #212121;
}

/* -----------Title-----------*/
.list-title{
    background-color: rgb(240, 246, 251);
    display: flex;
    justify-content: center;
}

.list-title h2{
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    padding-top: 100px;
    padding-bottom: 20px;
    font-weight: 300;
}
/*----------WishList--------------*/
.wishlist{
    margin: 0;
}
.wishlist-inner{
    padding: 20px 100px 0 100px;
}

.btn-green{
    background-color: rgb(62, 174, 60, 85%);
    color: #f4f4f4;
    margin-bottom: 30px;
}

.item{
    border: 1px solid rgb(73, 127, 177, 75%);
    height: 40px;
}

th, td{
    padding: 10px 40px;
}

/*th{*/
/*    background-color: rgb(230, 241, 250);*/
/*}*/
/*td{*/
/*    background-color: rgb(247, 249, 252);*/
/*}*/

.edit, .delete{
    height: 22px;
    background-color: white;
    cursor: pointer;
}


.correct{
    background-color: white;
    padding: 10px 8px;
}

/*------------Form----------*/
.form{
    padding-top: 110px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.form-title{
    font-weight: 500;
    font-size: 22px;
}

.form-label{
    margin-bottom: 5px;
}

.form-field{
    display: flex;
    justify-content: center;
}

fieldset{
    width: 40%;
}

.row{
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.btn-form{
    margin-top: 20px;
    color: white;
    background-color: rgb(62, 174, 60, 85%);
    border-radius: 15px;
    padding: 5px 25px;
}

.search-info{
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.form-box{
    border: 1px solid #212121;
    border-radius: 5px;
    height: 25px;
}

.err{
    color: darkred;
    margin: 0;
}


/*      Media       */
@media screen and (max-width: 1180px){
    .reviews{
        height: auto;
        min-height: calc(100vh - 467px);
    }
    .reviews-inner{
        flex-direction: column;
        align-items: center;
        padding-top: 15%;
    }
    .comment{
        width: 40%;
        margin-bottom: 10%;
        font-size: 100%;
    }

    .form{
        margin-top: 50px;
    }
}

@media screen and (max-width: 686px){
    .corner-title{
        font-size: 70%;
        padding-left: 0;
    }
    .nav{
        padding-right: 0;
    }
    .nav-link{
        font-size: 70%;
        margin: 0 7px;
    }
    .nav-link .show{
        font-size: 70%;
        margin: 0 7px;
    }
    .icon-search{
        width: 15px;
        height: 15px;
        margin-top: 8px;
    }
    .search{
        padding: 0;
    }
    .header-title{
        display: none;
    }
    .header .container{
        padding: 0 5px;
    }
    .header-inner{
        justify-content: space-around;
    }
    .intro-title{
        padding-top: 50px;
        font-size: 150%;
    }
    .intro-subtitle{
        font-size: 120%;
    }
    .comment{
        width: 80%;
    }
    .btn{
        padding: 5px 25px;
    }
    .wishlist-inner {
        padding: 20px 5% 0 5%;
    }
}





